.nav {
  background-color: #DC2E72;
  margin-bottom: 1rem;
  margin: 0;

}

.basic-navbar-nav {
  margin: 0;
}

.header {
  padding: 0.5rem;
}

.header ul {
  display: flex;
  gap: 2rem;
  margin: auto;
  margin-right: 0;
  list-style-type: none;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #fcb66b;
}