@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

@layer components {
    .li-dropdown {
        @apply grid items-center text-gray-500 text-[14px] cursor-pointer px-6 ease-linear duration-200 hover:text-pink-700 hover:bg-gray-100 w-[100%] h-[50px]
    }
}