@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply overflow-x-hidden bg-[#f8f8f8] font-mont;
}

@layer components {
  .ul-dropdown {
    @apply absolute -left-6 top-[65px] w-[200px] border-[0.02em] border-gray-200 bg-white text-start text-black shadow-md transition duration-300 lg:left-0 lg:right-0 lg:w-[180px];
  }
  .li-dropdown {
    @apply grid h-[50px] w-full cursor-pointer items-center pl-2 text-[.875rem] transition-colors duration-200 ease-linear hover:bg-gray-100 hover:text-pink-700 lg:pl-0;
  }

  .link {
    @apply font-medium tracking-wide text-gray-500 no-underline transition-colors duration-200 ease-linear hover:text-pink-700;
  }

  .form-container {
    @apply mx-auto mt-8 flex max-w-7xl flex-col items-center px-6 xl:flex-row xl:justify-between;
  }
}
